header {
  h2 {
    color: #303030;
  }
}

.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    margin-top: 1rem;
    padding: 1rem;

    width: 100px;

    border-radius: 50%;
  }

  p {
    color: #202020;
    font-size: 18px;
  }

  .input-url {
    width: 50%;
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 1.5rem;

    background: #F7F7F7;
    border: 0;

    font-size: 18px;
    color: #505050;

    transition: 0.2s;

    @media (max-width: 500px) {
      width: 90%;
    }
  }

  .btn-links {
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem;
    width: 50%;

    border: 0;
    border-radius: 30px;
    background: #7070fc;
    color: #fff;
    font-size: 18px;
  
    transition: 0.2s;

    &:hover {
      filter: brightness(0.8);
    }

    @media (max-width: 500px) {
      width: 100%;
    }
  }
}