.profile-wrapper {
  width: 100%;

  .profile-container {
    display: flex;
    justify-content: center;

    .btn-add-link {
      cursor: pointer;
      margin-top: 4rem;
      width: 20%;
      padding: 1rem;

      background: #7070fc;
      border: 0;

      transition: 0.2s;

      &:hover {
        filter: brightness(0.8);
      }

      i {
        font-size: 25px;
        color: #fff;
      }
    }

    .profile-social {
      width: 50%;

      margin-top: 2rem;


      display: flex;
      flex-direction: column;

      text-align: center;

      align-items: center;

      input[type="file"] {
        display: none;
      }

      .i-profile-none {
        font-size: 90px;
        color: #c3c3c3;
      }

      img {
        width: 100px;
        border-radius: 50%;
      }

      .user-info{

        p {
          font-size: 18px;
          margin-top: 1rem;
          color: #303030;
        }

        .btn-edit-profile {
          cursor: pointer;

          margin-top: 1rem;
          padding: 0.4rem;
          border: 1px solid #c3c3c3;
          background: #fff;

          border-radius: 0.25rem;
          font-weight: 600;

          outline: 0;

          transition: 0.2s;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    

      .profile-links{
        width: 100%;
        display: flex;
        flex-direction: row;

        a {
          margin-left: 2rem;
          text-decoration: none;
          margin-top: 2rem;
          background: #7070fc;
          border-radius: 30px;
          color: #fff;
          width: 100%;
  
          font-size: 18px;
  
          padding: 1rem;
  
          transition: 0.2s;
  
          &:hover {
            background: #fff;
            color: #7070fc;
  
            border: 2px solid #7070fc;

          }
        }

        .i-delete-link {
          cursor: pointer;
          margin-top: 3rem;
          margin-left: 1rem;

          color: #7070fc;

          &:hover {
            filter: brightness(0.8);
          }
        }

        button {
          cursor: pointer;
          background: #77D970;
          border: 0;
          height: 63%;
          padding: 1rem;

          margin-top: 2rem;

          transition: 0.2s;

          &:hover {
            background: #fff;
            border: 2px solid #77D970;
          }
          
          i {
            color: #fff;
            font-size: 18px;
          
            &:hover {
              color: #77D970;
            }
          }
        }
      }

      @media (max-width: 650px) {
        width: 80%;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}