.header {
  top: 0;
  width: 100%;
  position: relative;

  .header-container {
    display: flex;
    background: #fff;

    h1 {
      cursor: pointer;

      @media (max-width: 500px) {
        width: 50px;
        height: 60px;
      }
    }

    .nav-bar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;


      @media (max-width: 500px) {
        display: flex;
        font-size: 14px;        
      }

      ul {
        display: flex;

        @media (max-width: 420px) {
          display: flex;
          flex-direction: row;
          margin-top: 1rem;
        }

        li {
          list-style-type: none;
          padding: 0.5rem;
          margin-top: 1.2rem;

          @media (max-width: 420px) {
            margin-top: 0;
            padding: 0.2rem;
          }

          a {
            &:first-child {
              color: #505050;
            }

            color: #303030;
            border-radius: 0.25rem;
            text-decoration: none;

            padding: 0.5rem;
            transition: 0.2s;


            transition: 0.2s;

            &:hover {
              color: #7070fc;
            }
          }
        }
      }
    }

    .profile {
      margin: 1rem;

    
      list-style-type: none;

      a {
        margin-right: 1rem;

        img {
          width: 50px;
          border-radius: 50%;

          @media (max-width: 650px) {
            width: 30px;
          }
        }

        .i-profile-none {
          font-size: 50px;
          color: #c3c3c3;

          @media (max-width: 650px) {
            font-size: 35px;
          }
        }
      }
    

      @media (max-width: 650px) {
        margin: 1rem;
        width: 30px;
      }
    }
  }
}