.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background: #000;


  .footer-container {
    padding: 1.5rem;
    display: flex;

    .terms {
      display: flex;
      flex-direction: column;
  
      a {
        color: #f1f1f1;
        font-size: 14px;
        filter: brightness(0.7);
  
        transition: 0.2s;
        

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

    .social {
      display: flex;
      flex-direction: row;

      margin-left: 4rem;
      font-size: 18px;

      .icons {
        display: flex;
        flex-direction: column;

        a {
          margin: 0.2rem;

          i {
            color: #fff;
            filter: brightness(0.7);
          }
        }
      }

      .text{
        margin-left: 0.5rem;
        color: #f1f1f1;
        
        font-size: 14px;
        
        display: flex;
        flex-direction: column;
        a {
          margin-bottom: 1rem;
          color: #f1f1f1;
          filter: brightness(0.7);

          &:first-child {
            margin-top: 0.2rem;
          }

          transition: 0.2s;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    }
  }
}