.sign-up {
  width: 100%;
  margin-top: 3rem;

  .sign-up-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    h1 {
      font-size: 3rem;
      color: #404040;
      margin-bottom: 2rem;

      @media (max-width: 650px) {
        font-size: 2rem;
        width: 90%;
        text-align: center;
      }
    }


    .form {
      display: flex;
      width: 50%;

      flex-direction: column;

      padding: 1rem;

      @media (max-width: 650px) {
        width: 80%;
      }

      p {
        text-align: center;
        margin: 0.5rem;
      }

      input {
        padding: 0.8rem;
        margin: 0.3rem;

        font-size: 18px;

        border: 0;
        border-bottom: 2px solid #77D970;
        border-radius: 0.25rem;

        outline: 0;

        transition: 0.2s;

        &:hover {
          padding: 20px;
        }

        @media (max-width: 650px) {
          width: 90%;
        }
      }


      .avatar-upload{
        width: 100%;
        display: flex;
        justify-content: center;

        .upload-icon {
          cursor: pointer;
          font-size: 30px;
          padding: 1.5rem;
          border-radius: 50%;
          color: #404040;

          transition: 0.2s;

          &:hover {
            filter: brightness(0.7);
          }
        }
        margin-bottom: 1rem;
      }

      .btn-social-google {
        cursor: pointer;
        border: 0;

        padding: 1rem;
        margin: 0.5rem;

        font-size: 25px;
        background: #EA4335;
        color: #fff;

        transition: 0.2s;

        &:hover {
          background: #fff;
          color: #EA4335;

          outline: 1px solid #EA4335;
        }
      }

      .btn-social-face {
        cursor: pointer;
        border: 0;

        padding: 1rem;
        margin: 0.5rem;

        font-size: 25px;
        background: #1478F2;
        color: #fff;

        transition: 0.5s;

        &:hover {
          background: #fff;
          color: #1478F2;

          outline: 1px solid #1478F2;
        }
      }

      .btn-sign-up {
        cursor: pointer;
        padding: 0.8rem;
        width: 50%;

        border: 0;

        background: #77D970;
        color: #fff;
        font-size: 18px;

        margin-left: 23%;
        margin-top: 1rem;

        transition: 0.2s;

        &:hover {
          background: #fff;
          color: #77D970;
          outline: 2px solid #77D970;
        }

        @media (max-width: 650px) {
          width: 80%;
          margin-left: 10%;
        }
      }
    }
  }
}